---
layout: default
permalink: examples
---

<section>
  <h1>Examples</h1>
  <p>
    Here are some examples of what you could do with Posts or other collections.
  </p>
</section>

<section>
  <h2>Posts</h2>

    <div class="media t-hackcss-media">
      <div class="t-hackcss-media-shift media-left">
        <img class="t-hackcss-media-image"
             src="http://via.placeholder.com/200x200" alt="example post"
             title="Example Post" />
      </div>
      <div class="media-body">
        <div class="media-heading">
          <span>January 30th, 2018 |
            <a href="/" target="_blank" title="Example Post">
              Example Post
            </a>
          </span>
        </div>
        <div class="media-content">
          This is an example of what a post description could look like!
        </div>
      </div>
    </div>

    <div class="media t-hackcss-media">
      <div class="t-hackcss-media-shift media-left">
        <img class="t-hackcss-media-image"
             src="http://via.placeholder.com/200x200" alt="example post"
             title="Example Post" />
      </div>
      <div class="media-body">
        <div class="media-heading">
          <span>December 15th, 2017 |
            <a href="/" target="_blank" title="Example Post">
              An Older Example Post
            </a>
          </span>
        </div>
        <div class="media-content">
          This is an additional example of what a post description could look like!
        </div>
      </div>
    </div>
</section>

<hr />

<section>
  <h2>Cards</h2>

  <div class="grid t-hackcss-cards">

    {% for project in site.projects %}
    <div class="cell -6of12 t-hackcss-cards-cell">
      <div class="card">
        <header class="card-header">{{ project.name }}</header>
        <div class="card-content">
          <div class="inner">

            {% if project.image %}
            <img src="{{ project.image }}" class="t-hackcss-cards-image"
                 alt="{{ project.name }}"
                 title="{{ project.name }}" />
            {% endif %}

            <p class="t-hackcss-cards-text">{{ project.description }}</p>
            <p class="t-hackcss-cards-link">
              <a href="{{ project.link }}" title="{{ project.name }}" target="_blank">
                 {{ project.name }}
               </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</section>

