<div class="t-hackcss-navigation">
  <h2 class="t-hackcss-navigation-heading"><a style="border-bottom: none;" href="/">{{ site.navigation_menu_heading | default: "Menu" }}</a></h2>

  <nav class="menu" role="menubar">
    {% assign url = page.url|remove:'index.html' %}
    {% for link in site.navigation %}
      <a class="menu-item {% if url == link.url %}active{% endif %}"
        role="menuitem" href="{{ link.url | prepend: site.baseurl }}" title="{{ link.title }}">
        {{ link.text }} <div class="pull-right">&gt;&gt;</div>
      </a>
    {% endfor %}

    {% comment %}
    TODO:
    {% if site.categories %}
      <h3>Categories</h3>
      <ul>
        {% for category in site.categories %}
          {% capture category.name %}{{ category | first }}{% endcapture %}
          <li>{{ category_name }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endcomment %}
  </nav>

</div>

